

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center
}

.modal__container {
    background-color: #fff;
    max-height: 100vh;
    max-width: 550px;
    border-radius: 3px;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative
}

.micromodal-slide.is-open {
    display: block
}

.modal.fade .modal-dialog {
    transform: translateY(50px)
}

@media (max-width:575.98px) {
    .modal.fade .modal-dialog {
        transform: translateY(0);
        margin: 0
    }
}

.modal-content {
    border: none
}

.modal-header {
    padding: 0;
    margin: 0;
    height: 48px
}

.modal-container--content {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2)
}

.modal-container--header {
    border-bottom: 0
}

.modal-close__button {
    background: 0 0;
    cursor: pointer;
    border: none;
    color: #9fa0ab;
    position: absolute;
    top: 10px;
    right: 10px
}

    .modal-close__button i {
        font-size: 30px;
        -webkit-text-stroke: 4px #fff
    }

.modal-backdrop.in {
    opacity: 1;
    background-color: #404259
}


.hero-proLanding {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.hero-proLanding__header {
    box-shadow: none;
    height: 130px;
    background-image: linear-gradient(to top,rgba(0,0,0,0),rgba(0,0,0,.4))
}

@media (min-width:576px) {
    .hero-proLanding {
        
        height: 688px
    }
}

@media (max-width:767.98px) {
    .hero-proLanding {
      
        max-height: 570px
    }
}

.hero-proLanding .reach-container {
    display: -ms-grid;
    display: grid;
    position: relative;
    z-index: 99
}

@media (max-width:767.98px) {
    .hero-proLanding .reach-container {
        grid-template-columns: repeat(1,1fr)
    }
}

@media (min-width:576px) and (max-width:991.98px) {
    .hero-proLanding .reach-container {
        grid-template-columns: unset;
        display: block
    }
}

@media (min-width:768px) and (max-width:1199.98px) {
    .hero-proLanding .reach-container {
        grid-template-columns: repeat(2,15% 20%)
    }
}

@media (min-width:1200px) {
    .hero-proLanding .reach-container {
        grid-template-columns: repeat(4,28% 28% 42% 12%);
        
    }
}

.hero-proLanding--reach {
    width: 622px;
    padding: 36px;
    -ms-grid-column: 3;
    grid-column-start: auto;
    -ms-grid-row: 1;
    grid-row: 1;
    z-index: 100;
    margin-left: 30px;
    margin-top: 30px;
}

    .hero-proLanding--reach p {
        font-weight: 700;
        text-transform: uppercase;
        margin: 24px 0;
        color: #9799a8
    }

        .hero-proLanding--reach p span {
            font-size: 15px
        }

    .hero-proLanding--reach .email__input, .hero-proLanding--reach .password__input {
        width: calc(100% - 5px);
        height: 46px;
        margin: 4px 0;
        font-size: 13px;
        border-radius: 5px;
        padding-left: 21px;
        background-color: #fff;
        border: solid 1px #404259
    }

    .hero-proLanding--reach ::-webkit-input-placeholder {
        opacity: .37;
        color: #4f4f4f
    }

@media (max-width:767.98px) {
    .hero-proLanding--reach ::-webkit-input-placeholder {
        font-size: 16px
    }
}

.hero-proLanding--reach .proLanding--account {
    font-size: 14px;
    text-align: center;
    transform: translateY(8px);
    display: block;
    clear: both
}

    .hero-proLanding--reach .proLanding--account a {
        color: var(--color-greenbar-second)
    }

@media (max-width:767.98px) {
    .hero-proLanding--reach .proLanding--account {
        color: #fff
    }
}

.hero-proLanding--reach .pro__button {
    width: calc(100% - 5px);
    font-size: 18px;
    text-decoration: none;
    margin-top: .5em
}

@media (max-width:767.98px) {
    .hero-proLanding--reach .pro__button {
        margin-top: 0
    }
}

@media (max-width:767.98px) {
    .hero-proLanding--reach {
        transform: translateY(-60px);
        margin: 0 auto;
        padding: 24px;
        width: 100%;
        -ms-grid-column: 1;
        grid-column: 1
    }

        .hero-proLanding--reach h2, .hero-proLanding--reach p {
            color: #fff
        }

        .hero-proLanding--reach p {
            text-align: left;
            margin-bottom: 13px;
            font-weight: 400;
            text-transform: none
        }
}

@media (min-width:768px) {
    .hero-proLanding--reach {
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 3px 8px 0 rgba(0,0,0,.2)
    }
}

@media (min-width:576px) and (max-width:991.98px) {
    .hero-proLanding--reach {
        margin: 0 auto
    }
}

.hero-proLanding--data {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 316px;
    background-image: linear-gradient(180deg,rgba(0,0,0,0),#000);
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(5,15% 23% 24% 23% 15%);
    grid-template-rows: 102px 102px 102px
}

    .hero-proLanding--data p:first-child {
        font-size: 44px
    }

    .hero-proLanding--data p {
        font-size: 16px;
        margin-bottom: 0;
        font-weight: 700;
        text-align: center;
        color: #fff
    }

    .hero-proLanding--data .data-request {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 3;
        grid-row: 3
    }

    .hero-proLanding--data .data-customer {
        -ms-grid-column: 3;
        grid-column: 3;
        -ms-grid-row: 3;
        grid-row: 3
    }

    .hero-proLanding--data .data-quote {
        -ms-grid-column: 4;
        grid-column: 4;
        -ms-grid-row: 3;
        grid-row: 3
    }

@media (max-width:767.98px) {
    .hero-proLanding--data {
        display: none
    }
}

@media (max-width:991.98px) {
    .hero-proLanding--data {
        grid-template-columns: repeat(4,15% 35% 35% 15%)
    }

        .hero-proLanding--data .data-request {
            -ms-grid-column: 2;
            grid-column: 2
        }

        .hero-proLanding--data .data-customer {
            -ms-grid-column: 3;
            grid-column: 3
        }

        .hero-proLanding--data .data-quote {
            display: none
        }
}



.usage-proLanding {
    padding: 49px 0 22px;
    background-color: #f3f3f3;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(4,18% 32% 32% 18%)
}

.usage-proLanding--service {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    margin: 0 auto
}

@media (max-width:767.98px) {
    .usage-proLanding--service {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 3;
        width: auto
    }
}

@media (min-width:768px) and (max-width:1199.98px) {
    .usage-proLanding--service {
        -ms-grid-column: 1;
        grid-column: 1;
        width: 90%
    }
}

@media (min-width:1200px) {
    .usage-proLanding--service {
        width: 450px;
        margin-top: 16px
    }
}

@media (max-width:767.98px) {
    .usage-proLanding--service h3, .usage-proLanding--service p {
        text-align: center
    }
}

@media (max-width:767.98px) {
    .usage-proLanding {
        margin-top: 0;
        padding-top: 0;
        grid-template-rows: 45px;
        grid-template-columns: repeat(1,1fr)
    }
}

@media (min-width:768px) and (max-width:1199.98px) {
    .usage-proLanding {
        grid-template-columns: repeat(2,50%)
    }
}

.usage-proLanding--value {
    transform: translateY(8px);
    margin-top: 16px;
    font-weight: 500;
    text-align: center;
    display: block;
    opacity: 0
}

.usage-proLanding--value__fadeIn {
    transform: translateY(0);
    opacity: .8;
    transition: all .5s cubic-bezier(.215,.61,.355,1) .2s
}

.usage-proLanding--opportunity {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
    width: 340px;
    /*height: 168px;*/
    padding: 26px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.1)
}

    .usage-proLanding--opportunity h4 {
        text-align: center;
        margin: 0 0 23px;
        line-height: 1.15
    }

    .usage-proLanding--opportunity p {
        line-height: 1.4
    }

    .usage-proLanding--opportunity select {
        width: 87%;
        height: 40px;
        border-radius: 2px;
        border: solid 2px #2cb34f;
        margin: 0 auto;
        display: block;
        font-size: 14px;
        padding: 0 10px;
        color: #9799a8;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none
    }

    .usage-proLanding--opportunity i {
        float: right;
        margin-top: -27px;
        margin-right: 30px;
        color: #9799a8
    }

@media (max-width:767.98px) {
    .usage-proLanding--opportunity {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 4;
        grid-row: 4;
        width: auto;
        height: 190px;
        box-shadow: 0 3px 8px 0 rgba(0,0,0,.2)
    }
}

.usage-proLanding--opportunity__height {
    height: 196px;
    transition: all .5s cubic-bezier(.215,.61,.355,1)
}

@media (max-width:767.98px) {
    .usage-proLanding--opportunity__height {
        height: 210px
    }
}

@media (min-width:768px) and (max-width:1199.98px) {
    .usage-proLanding--opportunity {
        -ms-grid-column: 2;
        grid-column: 2
    }
}


.start-heroLanding {
    width: 100%;
    height: 264px;
    background-color: #fff;
    display: table
}

.start-heroLanding--container {
    vertical-align: middle;
    display: table-cell
}

    .start-heroLanding--container h3, .start-heroLanding--container p {
        margin-bottom: 24px;
        text-align: center
    }

    .start-heroLanding--container button {
        margin: 16px auto 0;
        display: block;
        width: 30%;
        padding: 12px 30px
    }

@media (max-width:767.98px) {
    .start-heroLanding {
        height: auto;
        background-color: transparent
    }

        .start-heroLanding button {
            width: 100%;
            border-radius: 0;
            padding: 18px 30px
        }

        .start-heroLanding h3, .start-heroLanding p {
            display: none
        }
}


.modal-backdrop.in {
    background-color: #000
}

@media (max-width:767.98px) {
    h1 {
        font-size: 24px;
        text-align: center
    }

    #video-container {
        width: 300px;
        height: 200px;
        margin-left: -150px;
        margin-top: -200px
    }
}

.checkbox__label {
    margin-bottom: 0;
    font-size: 13px
}

    .checkbox__label a {
        color: #1ca03e
    }

@media (max-width:767.98px) {
    .checkbox__label {
        color: #fff;
        font-size: 15px
    }
}

.checkbox--green {
    width: 17px;
    position: relative
}

    .checkbox--green input {
        height: 15px;
        width: 15px;
        position: absolute;
        top: -11px
    }

app-root-pro .pro-mask {
    max-width: 486px;
    margin: auto;
    position: relative
}

app-root-pro .pro-mask__button, app-root-pro .pro-mask__input {
    height: 50px;
    width: 100%;
    outline: 0;
    padding: 0 15px;
    border: none;
    font-size: 16px;
    border-radius: 3px
}

@media (min-width:576px) {
    app-root-pro .pro-mask__button, app-root-pro .pro-mask__input {
        height: 56px;
        font-size: 20px
    }
}

app-root-pro .pro-mask__input {
    color: #404259;
    margin-bottom: 10px
}

    app-root-pro .pro-mask__input:focus {
        border-color: #2cb34f;
        box-shadow: 0 0 5px 0 #2cb34f
    }

        app-root-pro .pro-mask__input:focus::-webkit-input-placeholder {
            color: #404259
        }

@media (min-width:576px) {
    app-root-pro .pro-mask__input {
        border: solid 1px #c5c6cd;
        padding: 0 24px
    }
}

.form--validation {
    position: relative
}

    .form--validation p {
        font-size: 12px;
        text-transform: none;
        letter-spacing: .5px;
        color: #ff402d;
        margin-bottom: 5px
    }

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.swiper-container-multirow > .swiper-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -ms-flex-negative: 0;
    /*flex-shrink: 0;*/
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform ;
    margin: 0px 20px 0px 0px;
}

.swiper-invisible-blank-slide {
    visibility: hidden
}

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
    height: auto
}

    .swiper-container-autoheight .swiper-wrapper {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-transition-property: height,-webkit-transform;
        transition-property: height,-webkit-transform;
        -o-transition-property: transform,height;
        transition-property: transform,height;
        transition-property: transform,height,-webkit-transform
    }

.swiper-container-3d {
    -webkit-perspective: 1200px;
    perspective: 1200px
}

    .swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d
    }

    .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 10
    }

    .swiper-container-3d .swiper-slide-shadow-left {
        background-image: -webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
        background-image: -webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
        background-image: -o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));
        background-image: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))
    }

    .swiper-container-3d .swiper-slide-shadow-right {
        background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
        background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));
        background-image: -o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));
        background-image: linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))
    }

    .swiper-container-3d .swiper-slide-shadow-top {
        background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
        background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
        background-image: -o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));
        background-image: linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))
    }

    .swiper-container-3d .swiper-slide-shadow-bottom {
        background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));
        background-image: -webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
        background-image: -o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));
        background-image: linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))
    }

.swiper-container-wp8-horizontal, .swiper-container-wp8-horizontal > .swiper-wrapper {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-container-wp8-vertical, .swiper-container-wp8-vertical > .swiper-wrapper {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}

    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
        opacity: .35;
        cursor: auto;
        pointer-events: none
    }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
   
    left: 10px;
    right: auto
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
   
    right: 10px;
    left: auto;
}

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10
}

    .swiper-pagination.swiper-pagination-hidden {
        opacity: 0
    }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0
}

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
        -webkit-transform: scale(.33);
        -ms-transform: scale(.33);
        transform: scale(.33);
        position: relative
    }

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
        -webkit-transform: scale(.66);
        -ms-transform: scale(.66);
        transform: scale(.66)
    }

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
        -webkit-transform: scale(.33);
        -ms-transform: scale(.33);
        transform: scale(.33)
    }

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
        -webkit-transform: scale(.66);
        -ms-transform: scale(.66);
        transform: scale(.66)
    }

    .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
        -webkit-transform: scale(.33);
        -ms-transform: scale(.33);
        transform: scale(.33)
    }

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}

.swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0)
}

    .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 6px 0;
        display: block
    }

    .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 8px
    }

        .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
            display: inline-block;
            -webkit-transition: .2s top,.2s -webkit-transform;
            transition: .2s top,.2s -webkit-transform;
            -o-transition: .2s transform,.2s top;
            transition: .2s transform,.2s top;
            transition: .2s transform,.2s top,.2s -webkit-transform
        }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap
}

    .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
        -webkit-transition: .2s left,.2s -webkit-transform;
        transition: .2s left,.2s -webkit-transform;
        -o-transition: .2s transform,.2s left;
        transition: .2s transform,.2s left;
        transition: .2s transform,.2s left,.2s -webkit-transform
    }

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transition: .2s right,.2s -webkit-transform;
    transition: .2s right,.2s -webkit-transform;
    -o-transition: .2s transform,.2s right;
    transition: .2s transform,.2s right;
    transition: .2s transform,.2s right,.2s -webkit-transform
}

.swiper-pagination-progressbar {
    background: rgba(0,0,0,.25);
    position: absolute
}

    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
        background: #007aff;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
        transform-origin: left top
    }

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top
}

.swiper-container-horizontal > .swiper-pagination-progressbar {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-vertical > .swiper-pagination-progressbar {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-progressbar.swiper-pagination-white {
    background: rgba(255,255,255,.25)
}

    .swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
        background: #fff
    }

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-pagination-progressbar.swiper-pagination-black {
    background: rgba(0,0,0,.25)
}

    .swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
        background: #000
    }

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0,0,0,.1)
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

    .swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
        max-width: 100%;
        max-height: 100%;
        -o-object-fit: contain;
        object-fit: contain
    }

.swiper-slide-zoomed {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12,end) infinite;
    animation: swiper-preloader-spin 1s steps(12,end) infinite
}

    .swiper-lazy-preloader:after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        background-position: 50%;
        background-size: 100%;
        background-repeat: no-repeat
    }

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity
}

    .swiper-container-fade .swiper-slide .swiper-slide {
        pointer-events: none
    }

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube {
    overflow: visible
}

    .swiper-container-cube .swiper-slide {
        pointer-events: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 1;
        visibility: hidden;
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        width: 100%;
        height: 100%
    }

        .swiper-container-cube .swiper-slide .swiper-slide {
            pointer-events: none
        }

    .swiper-container-cube.swiper-container-rtl .swiper-slide {
        -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0
    }

    .swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active {
        pointer-events: auto
    }

    .swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
        pointer-events: auto;
        visibility: visible
    }

    .swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top {
        z-index: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }

    .swiper-container-cube .swiper-cube-shadow {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .6;
        -webkit-filter: blur(50px);
        filter: blur(50px);
        z-index: 0
    }

.swiper-container-flip {
    overflow: visible
}

    .swiper-container-flip .swiper-slide {
        pointer-events: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 1
    }

        .swiper-container-flip .swiper-slide .swiper-slide {
            pointer-events: none
        }

    .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
        pointer-events: auto
    }

    .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
        z-index: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }

.swiper-container-coverflow .swiper-wrapper {
    -ms-perspective: 1200px
}

.gain-proLanding {
    height: 424px;
    background-color: #f3f3f3
}

    .gain-proLanding h3 {
        margin-top: 56px;
        text-align: center;
        margin-bottom: 43px
    }

@media (max-width:767.98px) {
    .gain-proLanding h3 {
        margin-top: 37px;
        margin-bottom: 33px
    }
}

.gain-proLanding h4, .gain-proLanding h5 {
    margin: 4px 0
}

@media (max-width:767.98px) {
    .gain-proLanding h4 {
        font-size: 14px
    }
}

@media (max-width:1199.98px) {
    .gain-proLanding img {
        width: inherit;
        max-width: 245px
    }
}

.gain-proLanding .swiper-button-prev {
    left: 0
}

.gain-proLanding .swiper-button-next {
    right: 0
}

.gain-proLanding .swiper-button-next, .gain-proLanding .swiper-button-prev {
    top: 56.5%;
    width: 46px;
    height: 46px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border-radius: 50%;
    background-image: none
}

@media (max-width:767.98px) {
    .gain-proLanding .swiper-button-next, .gain-proLanding .swiper-button-prev {
        display: none
    }
}

.gain-proLanding .swiper-button-disabled {
    display: none
}

.gain-proLanding .swiper-slide {
    overflow: hidden
}

    .gain-proLanding .swiper-slide img {
        border-radius: 3px
    }

.gain-proLanding .fa {
    font-size: larger;
    color: #404259;
    opacity: .5;
    top: 15px;
    left: 17px;
    position: absolute
}

.start-heroLanding {
    width: 100%;
    height: 264px;
    background-color: #fff;
    display: table
}

.button {
    font-family: Raleway,Trebuchet MS,Trebuchet,Helvetica,Arial,sans-serif
}

.button--orange {
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: green;
    color: #fff;
    border-radius: 3px;
    padding: 8px 0;
    cursor: pointer;
    border: none
}

    .button--orange:focus, .button--orange:hover {
        outline: 0;
        background-color: forestgreen
    }

    .button--orange:active {
        background-color: var(--greenbuttonmain)
    }

    .button--orange:focus, .button--orange:hover {
        outline: 0;
        background-color: var(--color-brand-hover)
    }

.button--white {
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    color: #404259;
    border-radius: 3px;
    padding: 8px 0;
    cursor: pointer;
    border: solid 1px rgba(33,43,54,.4)
}

    .button--white:focus, .button--white:hover {
        outline: 0;
        background-color: #fff
    }

    .button--white:active {
        background-color: #fff
    }

.button--green {
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: green;
    color: #fff;
    border-radius: 3px;
    padding: 8px 0;
    cursor: pointer;
    border: none
}

    .button--green:focus, .button--green:hover {
        outline: 0;
        background-color: #6bdf4c;
    }

    .button--green:active {
        background-color: #2cb34f;
    }

    .button--green:hover {
        outline: 0;
        background-color: #58c73b;
    }

.boyut {
    width: 245px;
    height: 180px;
    object-fit: cover;
}
