body {
    background: linear-gradient(#fff, #cff09e,#a8dba8);
}

.background {
    width: 430px;
    height: 480px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    right: 50%
}

div .background .shape {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%
}

div>.background>.shape>.shape1{
    background: linear-gradient(#216c08,#62f707);
    left: -50px;
    bottom: -400px
}
.background .shape .shape2{
    background: linear-gradient(#216c08,#62f707);
    left: -150px;
    bottom: -630px
}

.background .shape .shape3 {
    background: linear-gradient(to right,#ff512f,#f09819);
    right: -120px;
    bottom: -659px;
}
.background .shape .shape4 {
    background: linear-gradient(to right,#ff512f,#f09819);
    right: -120px;
    bottom: -659px;
}


form {
    width: 40vw;
    height: fit-content;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: inherit;
}

    form * {
        font-family: "Poppins",sans-serif;
        color: #ff512f;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    form h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
    }

label {
    display: block;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgb(255,255,255,0.4);
    border-radius: 2rem;
    border: 1px solid #ff512f;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 1rem;
    font-weight: 300;
    color: black;
}
    input.radio-class {
        height: 30px;
    }

::placeholder {
    color: lightslategray;
    padding-left: 10px;
}


#btnkayıt {
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: #ff512f;
    padding: 0;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 12rem;
    cursor: pointer;
    animation: mymove 2s infinite;
}

#iconkayıt {
    margin-left: 10rem;
    margin-right: 11rem;
    margin-bottom: 2rem;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    background-color: none;
}

    #iconkayıt div {
        
        width: 6rem;
        height:3rem;
        font-size:1.5rem;
        line-height:1.5;
        text-align:center;
        border-radius: 3rem;
        padding: 5px 5px 5px 5px;
        /*  background-color:rgba(255,255,255,0.27);*/
        color: #eaf0fb;
        text-align: center;
    }

    #iconkayıt div {
        background: #ff512f;
        width: 6rem;
        border-radius: 10px;
        padding: 5px 5px 5px 5px;
        /*  background-color:rgba(255,255,255,0.27);*/
        color: #eaf0fb;
        text-align: center;
        font-size: 1.5rem;
        animation: .2s ease-in-out;
    }

        #iconkayıt div:hover {
            background-color: rgba(255,255,255,0.47);
            color: #ff512f;
            text-align: center;
            border-radius: 10px;
            animation: .4s ease-in-out;
            border: 5px solid #ff512f;
        }

#bodykayıt {
    padding-bottom: 0;
}

.iconkayıt-item {
    transition: .5s;
   background-color:transparent;
}
