@{
    ViewBag.Title = "Teklif";
    Layout = "~/Views/Shared/_ModelLayout.cshtml";
}


<ngb-modal-window role="dialog" tabindex="-1" aria-modal="true" class="d-block fade modal show wizard-modals">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="armut-modal">
                <router-outlet></router-outlet>
                <service-questions-component>
                    <modal-header>
                        <div class="ayva-modal__header">
                            <custom-progressbar >
                                <div class="progressbar">

                                    <h1 class="title">Şehirler Arası Nakliye</h1>
                                    <!---->
                                    <ngb-progressbar type="success">
                                        <div class="progress">
                                            <div role="progressbar" aria-valuemin="0" class="bg-success progress-bar" aria-valuenow="25" aria-valuemax="100" style="width: 25%;">
                                                <!---->
                                            </div>
                                        </div>
                                    </ngb-progressbar>
                                </div>
                            </custom-progressbar>

                            <div class="close-container">

                                <div class="leftright" onclick="location.href='@Url.Action("Index", "Home")'"></div>
                                <div class="rightleft" onclick="location.href='@Url.Action("Index", "Home")'"></div>
                             
                            </div>


                            <price _nghost-log-c88="">
                                <div _ngcontent-log-c88="">
                                    <div _ngcontent-log-c88="" class="price__container">
                                        <span _ngcontent-log-c88="" class="text">Ortalama fiyat aralığı: </span>
                                        <strong _ngcontent-log-c88="">
                                            <span _ngcontent-log-c88="">10.000<span class="currency">TL</span></span> - <span _ngcontent-log-c88="">25.000<span class="currency">TL</span></span>
                                        </strong>
                                    </div>
                                </div>
                                <!---->
                            </price>
                        </div>
                    </modal-header>
                    <div class="ayva-modal__body">
                        <dynamic-form disablesubmit="" _nghost-log-c63="">
                            <form _ngcontent-log-c63="" novalidate="" class="ng-untouched ng-pristine ng-invalid">
                                <div _ngcontent-log-c63="" heightfitter="" class="ayva-modal__content" style="height:451px">
                                    <div _ngcontent-log-c63="" class="ayva-modal__inner-content enter-left">
                                        <div _ngcontent-log-c63="" dynamicfield=""></div>
                                        <custom-radio id="dynamic-form-component-element">
                                            <div style="text-align:center">
                                                <label id="radio-list-question" class="question">Hangisine ihtiyacın var?</label>
                                            </div>
                                            <hr />
                                            <br />
                                            <div class="ng-untouched ng-pristine ng-invalid">
                                                <div class="box">
                                                    <div class="markable-elements ">
                                                        
                                                        <h5 class="metin" style="float:left;">
                                                            Evden eve nakliyat hizmeti
                                                       </h5>                                                    
                                                       <label class="label" style="float:right;">
                                                            <input class="label__checkbox" type="checkbox" />
                                                            <span class="label__text">
                                                                <span class="label__check">
                                                                    <i class="fa fa-check icon"></i>
                                                                </span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                              
                                                

                                                <div class="box">
                                                    <div class="markable-elements ">

                                                        <h5 class="metin" style="float:left;">
                                                            Sadece eşya taşınacak
                                                        </h5>
                                                        <label class="label" style="float:right;">
                                                            <input class="label__checkbox" type="checkbox" />
                                                            <span class="label__text">
                                                                <span class="label__check">
                                                                    <i class="fa fa-check icon"></i>
                                                                </span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                 
                                                <div class="box">
                                                    <div class="markable-elements ">

                                                        <h5 class="metin" style="float:left;">
                                                            Evden eve nakliyat hizmeti
                                                        </h5>
                                                        <label class="label" style="float:right;">
                                                            <input class="label__checkbox" type="checkbox" />
                                                            <span class="label__text">
                                                                <span class="label__check">
                                                                    <i class="fa fa-check icon"></i>
                                                                </span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="box">
                                                    <div class="markable-elements ">

                                                        <h5 class="metin" style="float:left;">
                                                            Evden eve nakliyat hizmeti
                                                        </h5>
                                                        <label class="label" style="float:right;">
                                                            <input class="label__checkbox" type="checkbox" />
                                                            <span class="label__text">
                                                                <span class="label__check">
                                                                    <i class="fa fa-check icon"></i>
                                                                </span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                  
                                                <div class="box">
                                                    <div class="markable-elements ">

                                                        <h5 class="metin" style="float:left;">
                                                            Evden eve nakliyat hizmeti
                                                        </h5>
                                                        <label class="label" style="float:right;">
                                                            <input class="label__checkbox" type="checkbox" />
                                                            <span class="label__text">
                                                                <span class="label__check">
                                                                    <i class="fa fa-check icon"></i>
                                                                </span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                
                                                  
                                                <div class="box">
                                                    <div class="markable-elements ">

                                                        <h5 class="metin" style="float:left;">
                                                            Evden eve nakliyat hizmeti
                                                        </h5>
                                                        <label class="label" style="float:right;">
                                                            <input class="label__checkbox" type="checkbox" />
                                                            <span class="label__text">
                                                                <span class="label__check">
                                                                    <i class="fa fa-check icon"></i>
                                                                </span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>

                                            <!---->
                                        </custom-radio>
                                        <!---->
                                        <!---->
                                    </div>
                                </div>
                                <!---->
                                <!---->
                                <!---->
                                
                            </form>
                            <!---->
                        </dynamic-form>
                    </div>
                    
                    <!---->
                    <!---->
                </service-questions-component>
                <!---->
                <!---->
            </div>

        </div>
        <div  class="ayva-modal__footer">
 
            <button type="submit" id="next-button" class="button button__primary button--big button--padding-big footer__button--next">
                Devam
   
            </button>
        </div>
    </div>
</ngb-modal-window>


   <script>
        $("#next-button").click(function () {
            $(location).attr('href', 'http://www.gencayyildiz.com')
        });
    </script>




