@model ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}


<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-success bg-opacity-75 sidebar collapse p-3">
    <div class="position-sticky pt-3">
        <h2>Kişisel Bilgiler</h2>
        <ul class="nav flex-column">
            <li class="nav-item lh-lg fs-6">
                <a class="nav-link" aria-current="page" href="/account/Profile">
                    <span data-feather="home"></span>
                    <i class="bi bi-gear"></i>  Kişisel Ayarlar
                </a>
            </li>
            <li class="nav-item lh-lg fs-6">
                <a class="nav-link" href="#">
                    <span data-feather="file"></span>
                    <i class="bi bi-gear-wide-connected"></i>   Servis Ayarları
                </a>
            </li>
            <li class="nav-item  lh-lg fs-6">
                <a class="nav-link" href="/account/Wallet">
                    <span data-feather="shopping-cart"></span>
                    <i class="bi bi-credit-card-2-front"></i>   Cuzdanım
                </a>
            </li>

            <li class="nav-item  lh-lg fs-6">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    <i class="bi bi-repeat"></i>    Hizmet Al
                </a>
            </li>

        </ul>
        <hr class="shadow" />
        <ul class="nav flex-column mb-2">

            <li class="nav-item  lh-lg fs-6">
                <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                    <i class="bi bi-info-square"></i>    Tanıtım Materyalleri
                </a>
            </li>
            <li class="nav-item  lh-lg fs-6">
                <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    <i class="bi bi-question-square"></i>    Yardım ve Destek
                </a>
            </li>
            <li class="nav-item  lh-lg fs-6">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    <i class="bi bi-badge-vr"></i>  Veri ve Gizlilik
                </a>
            </li>
            <li class="nav-item  lh-lg fs-6">
            <li class="nav-item  lh-lg fs-6">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    <i class="bi bi-box-arrow-right"></i>   Çıkış
                </a>
            </li>
        </ul>
    </div>
</nav>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="container lb-disable-scrolling">
        <main class="row">
            <div class="col-12">
                <h2>Profil Ayarlarınız</h2>
                <hr />
                <div class="row g-5">
                    <div class="py-2 text-center">
                        <img class="d-block mx-auto mb-4 figure-img" src="~/img/profile-bg.svg" alt="Profil Resmi" width="200" height="200">
                    </div>
                    <div class="input-group offset-sm-3 col-md-7">
                        <input type="file" class="form-control" id="inputGroupFile">
                    </div>
                </div>
                <br />
                <div class="row g-5">
                    <div class="offset-sm-3 col-md-7">

                        <form class="needs-validation" method="post" novalidate>
                            <div asp-validation-summary="ModelOnly" class="text-danger small">
                            </div>
                            <div class="row g-3">
                                <input type="hidden" name="Id" value="@Model.Id" />

                                <div class="col-sm-12">
                                    <label for="isim" class="form-label">Adınız</label>
                                    <input type="text" asp-for="Ad" id="isim" placeholder="Adınız" />
                                </div>
                                <div class="col-sm-12">
                                    <label for="soyad" class="form-label">Soyadınız</label>
                                    <input type="text" asp-for="Soyad" id="soyad" placeholder="Soyadınız" />
                                </div>
                                <div class="col-sm-12">
                                    <label for="kullaniciAdi" class="form-label">Kullanıcı Adınız</label>
                                    <input type="text" asp-for="KullaniciAdi" id="kullaniciAdi" placeholder="Kullanıcı Adınız" />
                                </div>
                                <div class="col-sm-12">
                                    <label for="Email" class="form-label">E-postanız</label>
                                    <input type="email" asp-for="Email" id="email" placeholder="you@example.com" />
                                </div>
                                <div class="col-sm-12">
                                    <label for="sifre" class="form-label">Yeni Şifreniz</label>
                                    <input type="password" asp-for="Sifre" id="sifre" placeholder="Yeni Şifreniz" />
                                </div>
                                <div class="col-sm-12">
                                    <label for="sifre-tekrar" class="form-label">Yeni Şifre Tekrarı</label>
                                    <input type="password" asp-for="SifreTekrar" id="sifre-tekrar" placeholder="Yeni Şifre Tekrarı" />
                                </div>
                                <div class="col-sm-12">
                                    <label for="telefon" class="form-label">Telefonunuz</label>
                                    <input type="tel" asp-for="TelefonNumarası" id="telefon" placeholder="Telefonunuz" />
                                </div>
                                <div class="col-sm-12">
                                    <label for="adres" class="form-label">Adresiniz</label>
                                    <input type="text" asp-for="Adres" id="adres" placeholder="Adresiniz" />
                                </div>
                                <div class="col-sm-12">
                                    <label for="adres2" class="form-label">Adres2</label>
                                    <input type="text" asp-for="Adres2" id="adres2" placeholder="Adres2" />
                                </div>
                                <div class="col-sm-12">

                                <div class="col-3 text-center"><span>Erkek</span><input class="radio-class" type="radio" asp-for="Cinsiyet" name="cinsiyet" value="erkek" /></div>
                                <div class="col-3 text-center"><span>Kadın</span><input class="radio-class" type="radio" asp-for="Cinsiyet" name="cinsiyet" value="kadin" /></div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-success w-100 btn-lg-square" type="submit"> Kaydet </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

    </div>

</main>

<script src="~/js/form-validation.js"></script>


