@model RegisterModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/register.css" rel="stylesheet" />

<div class="background">
    <div class="shape shape1"></div>
    <div class="shape shape2"></div>
    <div class="shape shape3"></div>
    <div class="shape shape4"></div>
</div>

<div class="container d-flex justify-content-center align-items-center vh-100" id="bodykayıt">
    <form method="post" action="Register">        
        <div class="grid  justify-content-start">
            <div class="form-outline  m-4">
                <h3>Kayıt Olun</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger small">
                </div>
            </div>
            <div class="form-outline  m-4">
                <label class="form-label" for="form3Example1">İsim</label>
                <input type="text" asp-for="Ad" id="isim" placeholder="İsim" />
            </div>
            <div class="form-outline m-4">
                <label class="form-label " for="form3Example2">Soyisim</label>
                <input type="text" asp-for="Soyad" id="soyisim" placeholder="Soyisim" />
            </div>
            <!-- Email input -->
            <div class="form-outline m-4">
                <label class="form-label" for="form3Example3">Email Adres</label>
                <input type="email" asp-for="Email" id="email" placeholder="ornekmail@ornek.com" />
            </div>
            <!-- Password input -->
            <div class="form-outline m-4">
                <label class="form-label" for="form3Example4">Şifre</label>
                <input type="password" asp-for="Sifre" id="sifre" placeholder="Şifre" style="padding-right:2px;" />
            </div>
            <!-- Password input -->
            <div class="form-outline m-4">
                <label class="form-label" for="form3Example4">Şifre Tekrarı</label>
                <input type="password" asp-for="Sifre2" id="sifre" placeholder="Şifreni Tekrar Gir" style="padding-right:2px;" />
            </div>
            <div class="form-outline  m-4">
                <label class="form-label" for="form3Example1">Kullanıcı Adınız</label>
                <input type="text" asp-for="KullaniciAdi" id="isim" placeholder="Giriş Yaparken kullanacağın Ad" />
            </div>
            <div class="form-outline container row">
                <div class="col-6"><span>Erkek</span><input type="radio" asp-for="Cinsiyet" name="cinsiyet" value="erkek" /></div>
                <div class="col-6"><span>Kadın</span><input type="radio" asp-for="Cinsiyet" name="cinsiyet" value="kadin" /></div>
            </div>
        </div>
        <!-- Submit button -->
        <div class="form-outline m-4">
            <button id="btnkayıt" type="submit" class="btn mb-1 " style="">Kayıt Ol</button>
        </div>
@*        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
            <label class="form-check-label" for="form2Example33">
                Mail Bültenimize Abone Ol
            </label>
        </div>
        <!-- Register buttons -->
        <div class="text-center">
            <p>Diğer kayıt olma tercihleri <b>:</b></p>
        </div>
        <div class="text-center" id="iconkayıt">
            <button type="button" class=" iconkayıt-item  btn-floating mx-1">
                <div class="fab fa-facebook-f"></div>
            </button>
            <button type="button" class=" iconkayıt-item btn-floating mx-1">
                <div class="fab fa-google"></div>
            </button>
            <button type="button" class=" iconkayıt-item btn-floating mx-1">
                <div class="fab fa-twitter"></div>
            </button>
        </div>*@
    </form>
</div>





