<!DOCTYPE html>


<link href="~/css/teklif.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="~/js/code.jquery.com_jquery-3.7.0.js"></script>
@*<script src="~/js/modal.js"></script>*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body style="background-color:seagreen">
    <div>
       @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

