
<style>
    /* hide the navbar */
    header {
        display: none;
    }
</style>



<!DOCTYPE html>
<html lang="tr" >
<head>
    <title>
        Ücretsiz Üye Ol, Teklif Ver | Ayva
    </title>
   


    <!-- style -->

    

    <link href="~/css/hizmetver2.css" rel="stylesheet" />
    
    
    <!-- End Google Tag Manager -->
    <meta name="description" content="Daha fazla müşteri kazan. Ücretsiz üye ol, müşterilerin iş ilanlarına teklif ver. Sana ihtiyacımız var." />
</head>
<body>

   
    <form method="post" action="/profesyonel-uye-ol" id="form1">
      
       
        <div id="divHead" class="hero-proLanding" style="background-image: url(https://plantura.garden/uk/wp-content/uploads/sites/2/2022/11/quince-tree-garden-scaled.jpg);">
            <header class="header hero-proLanding__header">
                <div class="container">
                    <div class="row">
                        <div class="header__col">
                            <a title="logo" href="~/Views/Home/Index" style="background-image: url('https://st2.depositphotos.com/1026113/5321/v/950/depositphotos_53217461-stock-illustration-freehand-drawing-quince-icon.jpg')" class="header__link"></a>
                        </div>
                    </div>
                </div>
            </header>
            <div id="formCenteredParent" class="reach-container">
                <div id="formCenteredChild" class="hero-proLanding--reach ">
                    <h2 class="arabic-text-right">
                        <span id="lblh1">Daha çok müşteriye ulaş, daha çok kazan</span>
                    </h2>
                    <p class="arabic-text-right">
                        <span id="lblh2">HER AY 300.000 MÜŞTERİMİZ 1,4 MİLYAR TL DEĞERİNDEKİ PROJELERİ İÇİN HİZMET VEREN ARIYOR</span>
                    </p>
                    <div class="form--validation">

                        <app-root-pro class="app-root" placeholder="Hangi hizmeti veriyorsun?" buttontext="Ücretsiz Üye Ol" rawurl="profesyonel-uye-ol">
                            <div class="pro-mask">
                                <input type="text" class="pro-mask__input" placeholder="Hangi hizmeti veriyorsun?" />
                                <button type="button" class="pro-mask__button button--green" onclick="location.href=' /Account/Register'">Ücretsiz Üye Ol </button>
                            </div>
                        </app-root-pro>

                    </div>
                    <span class="proLanding--account">
                        Hesabın zaten var mı? <a title="Giriş yap!" href="/Account/Login">
                            Giriş yap!
                        </a>
                    </span>
                </div>
            </div>
            <div class="hero-proLanding--data">
                <section class="data-request">
                    <p>5 saniyede</p>
                    <p>Bir yeni talep</p>
                </section>
                <section class="data-customer">
                    <p>400.000</p>
                    <p>Aylık m&#252;şteri</p>
                </section>
                <section class="data-quote">
                    <p>3Mr TL</p>
                    <p>Aylık talep değeri</p>
                </section>
            </div>
        </div>

        <section>
            <div class="usage-proLanding">
                <div class="usage-proLanding--service">
                    <h3>Hizmet verdiğin alanda müşterilerden talep var.</h3>
                   
                </div>
                <div class="usage-proLanding--opportunity">
                    <h4>Hizmet verdiğin kategoriyi seç, fırsatları gör </h4>
                    <select id="selectValue">
                        <option value="" hidden>Evden Eve Nakliyat, Temizlik, ....</option>
                        <option value="22.939">Ev Temizliği</option>
                        <option value="13.513">Evden Eve Nakliyat</option>
                        <option value="9.385">Boyacı (Boya Badana Ustası)</option>
                        <option value="2.711">Şehirler Arası Nakliyat</option>
                        <option value="3.258">Koltuk Döşeme, Kaplama, Yenileme</option>
                        <option value="2.908">Parke Laminat Döşeme</option>
                        <option value="1.482">Doğum Günü Organizasyonu</option>
                        <option value="1.460">Butik Pasta ve Kurabiye</option>
                        <option value="1.310">Marangoz</option>
                        <option value="7.171">Psikolog</option>
                        <option value="1.284">Kalorifer ve Doğalgaz Tesisatı</option>
                        <option value="2.510">Halı Yıkama Temizleme</option>
                        <option value="3.503">Direksiyon Özel Ders</option>
                        <option value="3.977">Matematik Özel Ders</option>
                        <option value="1.932">Su Tesisatçısı Sıhhi Tesisat</option>
                        <option value="3.079">Diyetisyen</option>
                        <option value="3.443">Cam Balkon</option>
                        <option value="1.068">Kına Organizasyon</option>
                        <option value="3.034">Fayans Seramik Döşeme</option>
                        <option value="1.043">Klima Servisi Montaj Bakım Arıza</option>
                    </select>
                    <i class="fa fa-caret-down"></i>
                    <span class="usage-proLanding--value"></span>
                </div>
            </div>
        </section>

       

        <div class="gain-proLanding">
            <div class="swiper-container swiper-first container">
                <h3>En İyi Hizmet Verenlerimizin Her Ay Ne Kadar Kazandığını G&#246;r</h3>
                <div class="swiper-wrapper gain-proLanding--user">

                    <div class="swiper-slide">
                        <img class="boyut" alt="Evden Eve Nakliyat" src="/img/carousel-1.jpg"  />
                        <h4>Evden Eve Nakliyat</h4>
                        <p>33.000 TL</p>
                    </div>

                    <div class="swiper-slide">
                        <img class="boyut" alt="Ev Temizliği"  src="~/img/carousel-2.jpg"  />
                        <h4>Ev Temizliği</h4>
                        <p>6.500 TL</p>
                    </div>

                    <div class="swiper-slide">
                        <img class="boyut" alt="Boya Badana" src="/img/carousel-1.jpg" />
                        <h4>Boya Badana</h4>
                        <p>10.000 TL</p>
                    </div>

                    <div class="swiper-slide">
                        <img class="boyut" alt="Özel Ders" src="/img/carousel-2.jpg" />
                        <h4>Özel Ders</h4>
                        <p>8.000 TL</p>
                    </div>

                    <div class="swiper-slide">
                        <img class="boyut" alt="Kişisel Antrenör" src="/img/carousel-1.jpg" />
                        <h4>Kişisel Antrenör</h4>
                        <p>7.300 TL</p>
                    </div>

                    <div class="swiper-slide">
                        <img class="boyut" alt="Marangoz" src="/img/carousel-2.jpg" />
                        <h4>Marangoz</h4>
                        <p>8.200 TL</p>
                    </div>

                </div>
                <div class="swiper-button-prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                <div class="swiper-button-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
            </div>
        </div>



        <div id="stickyButton" class="start-heroLanding">
            <div class="start-heroLanding--container">
                <h3>Hemen Daha &#199;ok M&#252;şteri Kazanmaya Başla!</h3>
                <p>Sadece 5 Dakikanı Ayır</p>

                <button type="button" class="button--green callAngularApps" data-url="find-service" onclick="location.href=' /Account/Register'">Ücretsiz Üye Ol</button>

            </div>
        </div>




      
        


    </form>
  
    
</body>
</html>
